In [ ]:
# 1. Uploading data

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_bank_transactions = pd.read_csv(r'C:\Users\Admin\Desktop\bank_transactions.csv', sep=',')
df_bank_transactions

,transaction_id,customer_id,transaction_date,transaction_type,amount,status
0,1,101.0,2025-07-01,deposit,500.0,completed
1,2,102.0,2025-07-01,withdrawal,200.0,completed
2,3,103.0,2025-07-02,deposit,1500.0,completed
3,4,101.0,2025-07-02,withdrawal,100.0,failed
4,5,104.0,2025-07-03,deposit,2500.0,completed
5,6,102.0,2025-07-04,withdrawal,800.0,completed
6,7,105.0,2025-07-05,deposit,1000.0,completed
7,8,101.0,2025-07-06,deposit,2000.0,completed
8,9,103.0,2025-07-06,withdrawal,300.0,completed
9,10,104.0,2025-07-07,withdrawal,1200.0,failed
10,11,106.0,2025-07-08,deposit,100.0,completed
11,12,107.0,2025-07-09,deposit,NaN,completed
12,13,108.0,NaN,withdrawal,1500.0,completed
13,14,109.0,2025-07-10,deposit,800.0,completed
14,15,NaN,2025-07-10,withdrawal,500.0,completed
15,16,110.0,07/11/2025,deposit,2000.0,completed
16,17,101.0,2025-07-12,deposit,-500.0,completed
17,18,102.0,2025-07-13,withdrawal,300.0,completed
18,19,103.0,2025-07-14,deposit,400.0,completed
19,20,105.0,2025-07-15,deposit,600.0,failed

In [3]:
row_count = len(df_bank_transactions)
print(f"Number of rows: {row_count}")

Number of rows: 20